<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :username %>
	<br>
	<%= f.text_field :username, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :email %>
	<br>
	<%= f.text_field :email, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :password %>
	<br>
	<%= f.password_field :password, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :confirm_password %>
	<br>
	<%= f.password_field :confirm_password, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :keycode %>
	<br>
	<%= f.password_field :keycode, class: "form-control" %>
</div>
<div class="comments"></div>
<div class="errors"></div>
<div class="actions">
	<%= f.submit "Create your account", :class => "submit-btn btn btn-primary", remote: true, :method => "POST" %>
</div>
<% end %>
