<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render "layouts/component" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= render "layouts/header" %>
<%= yield %>
<%= render "layouts/footer" %>
<script type="text/javascript">
/* var bcf_settings = { buttonText:'Contact Us', buttonTop:'30%', language:'en_US' }; // Better Contact Form Settings */
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0]; js = d.createElement(s); js.id = id;
    js.src = "http://bettercontactform.com/contact/media/9/a/9a81acfe5eaa911a5fad7c4c18914adfa59a261f.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "bcf-render"));</script>
<a class="hidden" id="bcf_trigger" href="http://bettercontactform.com" rel="bcf_trigger">Contact Form</a>
</body>
</html>
